@{
ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/login.css">
<header>
    <style>
        .heading{
            color:white;
            font-weight:600;
            font-size:40px;
            margin-top:30%;
            margin-left:25%;
        }
        .about-main-text{
            color:white;
            padding-top:20px;
            padding-left:50px;
            padding-right:30px;
            font-size:20px;
            font-weight:300;
        }
    </style>
</header>
<body>
    <div class="sidenav">
        <div class="heading">
            <p>About Website</p>
        </div>
        <div class="about-main-text">
             <p>Welcome {{User}}. Here you can find live updates of your Stock and Mutual Funds and
                 you can manage your Portfolio related things eaisly and securely.</p>
             <p style="padding-top:40px; font-size:25px;font-weight:400;"><i>Under Guidance Of -</i></p>
                 <p style="font-weight:300;">Mentor - Abraham Rohit</p>
                 <p style="font-weight:300;">Trainer - Gayathri Mahadevan</p>
             </div>
             </div>
             <div class="main ">
                 <div class="col-sm-11">
                     <p style="margin-top:15%;font-size:18px;font-weight:400;">This website is an investing platform where an investor can find stocks and mutual funds
                       to invest in and can invest their money without any hassles. This website provides objective evaluation
                       of mutual funds and stocks that an user bought and does not advice or recommend to purchase
                       any mutual fund or portfolios. Investor shall invest
                       with their own will. This website does not guarantee any returns and safety of capital. 
                       Investor net worth and his/her total earning through portfolios will be updated continously when the stock price change.</p>
                       <br />
                       <p style="font-size:20px;font-weight:400;"><i>Developed By -</i></p>

<p>P. Jaya Raghu Ram</p>
<p>P. Adarsh</p>
<p>Poojitha Naidu</p>
<p>G. Dileep</p>
<p>P. Sai Avinash</p>

</div>
                    </div>
                 
                    </body>

