@{
ViewData["Title"] = "HomePage";
Layout = "~/Views/Shared/_Layout.cshtml";
}<header>
    <style>
        
    </style>
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'> 
    <link rel="stylesheet" href="~/css/login.css">
    <div class="sidenav">
            <div class="image-padding">
                <div class="col-md-12" style=" color:black; height:100%">
                    <img src="~/lib/bootstrap/assets/stock login.jpg" class="img-fluid" width="auto" height="100%">
                    </br>
                    <figure class="text-end" style="padding-top:70px;padding-left:35px;padding-right:35px;">
                        <blockquote class="blockquote">
                            <p style="color:white">"It's not whether you're right or wrong that's important, 
                                but how much money you make when you're right and how much you lose when you're wrong."</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                by <cite title="Source Title">George Soros</cite>
                                </figcaption>
                                </figure>
                    </div>
                    </div>
                    </div>
                    <div class="main">
                        <div class="col-md-12 col-sm-12">
                            <nav class="navbar navbar-expand-sm ">
                                <ul class="navbar-nav ml-auto ">
                                    <li class="nav-item ">
                                        <a asp-controller="Home" asp-action="About" class="nav-link" 
                                        style="color:black;font-size:larger;font-weight:bold" >ABOUT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Index" class="nav-link" 
                                        style="color:black;font-size:larger; font-weight:bold">LOGIN</a>
                                    </li>
                                    </ul>
                                    </nav><br>
                                    <div class=" col-md-6" style=" color:black;">
                                        <p style="font-family:Fredoka One; font-size:50px; padding-top:110px">Portifolio Management</p>
                                        <p>A web application which allows user to check and manage their portifolios and sell them.</p>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </header>



